/*
    Common view-parts cascading styles 
*/ 

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html 
{
    scroll-behavior: smooth;
}

// Design error-404 page  
#error 
{
    font-weight: lighter;
    font-size: 200%;
    margin: 20% auto;
    text-align: center;
}

// Desin header 
header
{

}

// Design footer 
footer 
{

}